$primary_color: #748bca;
$secondary_color: #0e406e;
$terciary_color: #7cc0ff;
$background_color: linear-gradient(
    to bottom right,
    darken($primary_color, 5%),
    darken($secondary_color, 5%)
);
