$primary_color: #221332;
$secondary_color: #171337;
$terciary_color: #8001ff;
$background_color: linear-gradient(
    to bottom right,
    darken($primary_color, 5%),
    darken($secondary_color, 5%)
);
